body{
    background-color: #8EAF09;
}

#login, #signup{
    background-color: #687130;
    color: #FFFFFF                                                                                                                                                                                                                                                                                                                                                                                                                       ;
}
